# Gradle
.gradle/
build/
gradle-app.setting
!gradle-wrapper.jar
gradle/gradle-daemon-jvm.properties

# Android Studio / IntelliJ
.idea/
*.iml
*.iws
*.ipr

# Local configuration
local.properties
/local.properties

# Log files
*.log

# Captures
/captures

# External Native Build
.externalNativeBuild
.cxx

# OS specific
.DS_Store
